body {
  margin: 0;
  padding:0;
  background-color: rgb(66, 78, 78);
  background-image: url("./img/bg.jpg");
}

.App{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  font-family: roboto;
}


*{
  padding: 0;
  margin:0;
}

.displayedCard{
  height: 10rem;
  background-color: #0a0a0acc;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 16rem;
  font-weight:bold;
  font-size: 1.3rem;
  border-radius: 15px;
  color: rgb(194, 187, 99);
  margin-left: .5rem;
  margin-right: .5rem;
}

.displayedCard > p{
  margin-bottom: .3rem;
}

.displayedCard:hover{
  background-color: #676767d4;
}

.cardsDisplay{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  justify-items: center;
  margin-bottom: 3rem;

}

.cardImage{
  width: 13rem;
  height: 13rem;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.score{
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
}

.scoreContainer{
  background-color: #c0000099;
  width: max-content;
  padding: .4rem;
  align-self: flex-end;

}

#header{
  background-color:#000000a8;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

#header > p {
  color: rgb(228, 228, 228);
  font-family: aclonica;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 3rem;
}

#footer{
  height: 4vh;
 background-color:#000000a8;
 width: 100vw;
 color: rgb(158, 158, 158);
 font-family: aclonica;
 font-weight: 900;
 letter-spacing: 1px;
 display: flex;
 justify-content: center;
 align-items: center;
}

